body {
  font-size: 10px;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.App main {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  width: 75vw;
}

.App main tr {
  cursor: pointer;
}

.App menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.filters, .search {
  display: flex;
  flex: 0 1 auto;
}

.filters select {
  width: auto;
}

.search input {
  width: auto;
}

.filters label, .search label {
  display: block;
  padding-right: 1rem;
}

.pag-btn {
  display: inline;
  color: lightgray;
  text-decoration: underline;
  border: none;
  -webkit-appearance: none;
  background-color: initial;
}

.pag-btn.active {
  color: #61dafb;
  cursor: pointer;
}