body {
  font-size: 10px;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.App main {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  width: 75vw;
}

.App main tr {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}
